{% extends "admin_template.html" %}

{% block content %}
    <form accept-charset="UTF-8" class="edit_post form-horizontal" id="edit_post" method="post">
        <div class="control-group">
            <label class="control-label grid 1of3">Title</label>
            <div class="controls grid 1of1">
                <input type="text" class="post_title span8" id="post_title" name="title" placeholder="Title here" value="{{ post.title }}">
            </div>
            <label class="control-label grid 1of3">{{ config.BLOG_URL }}</label>
            <div class="controls grid 1of1">
                <input class="span8" type="text" id="post_readable_id" name="readable_id" value="{{ post.readable_id or '' }}" />
            </div>
            <label class="control-label grid 1of3">Pub Date</label>
            <div class="controls grid 1of1">
                <input class="span8" type="text" id="post_publish_date" name="created_at" value="{{ post.created_at|iso8601notz }}" />
            </div>

            <label id="auto-save" class="control-label grid 1of3" for="draft">Draft</label>
            <div class="controls grid 1of3">
                <input id="post_draft" name="draft" type="checkbox" value="1" {% if post.draft %}checked{% endif %} />
            </div>

            <label class="control-label grid 1of3">Content Type</label>
            <div class="controls grid 1of3">
                <select name="text_type">
                    <option value="markdown" {% if post.text_type == "markdown" %}selected{% endif %}>Markdown</option>
                    <option value="html" {% if post.text_type == "html" %}selected{% endif %}>Html</option>
                </select>
            </div>

            <label class="control-label grid 1of3">Content</label>
            <div class="controls grid 1of1">
                <textarea class="span8" cols="40" id="post_content" name="text" placeholder="Write post here" rows="20">{{ post.text }}</textarea>
                <div id="post_content_editor"></div>
            </div>

        </div>
        <div class="control-group">
            <div id="drop-upload" class=" well well-small controls" style="word-wrap: break-word;">
                Drag files here to upload. Click to insert.
                <input type="file" onchange="upload(this.files[0])">
                <div id="upload_progress"></div>
                <div id="upload_list"></div>
            </div>
        </div>
           
    </form>
    <ul class="nav nav-pills grid 1of1">
        <li><a href="{{ url_for("new_post") }}">Admin</a></li>
        <li>
            <form method="POST" action="{{ url_for('delete', post_id=post.id, next=url_for('new_post')) }}">
                <input class="confirm" type="submit" value="Delete" />
            </form>
        </li>
        <li>{% if post.draft %}
            <a href="{{ url_for('preview', post_id=post.id) }}" target="previewPage">Preview</a>
        {% else %}
            <a href="{{  url_for('view_post_slug', readable_id=post.readable_id) }}" target="_blank">View live</a>
        {% endif %}</li>
        <li><button class="btn btn-success" onclick="$('#edit_post').submit()">Save</button></li>
    </ul>
{% endblock %}


{% block body_end %}

    <script>
        window.ondragover = function(e) {e.preventDefault()};
        window.ondrop = function(e) {e.preventDefault(); upload(e.dataTransfer.files); };

        if (typeof String.prototype.f !== 'function') {
            String.prototype.f = function() {
                var args = arguments;
                var index = 0;
                var replace = function() {
                    return args[index++];
                };
                return this.replace(/%s/g, replace);
            };
        }


        function upload(files) {
            var now = new Date();

            // YYYY/MM
            var destFolder = (new Date()).toISOString().split("-").slice(0,2).join("/");

            
            
            var jqProgresses = jQuery('#upload_progress');
            var jqUploadList = $("#upload_list").empty();


            $(files).each(function(i,file){
                if (!file) return;
                var fd = new FormData();
                fd.append("file", file);
                fd.append("dest", destFolder);

                var tmpDiv = document.createElement('div');
                tmpDiv.innerHTML = '<div class="progress progress-striped active"><div class="bar"></div></div>';
                var jqTmp = jQuery(tmpDiv);
                var jqProgressBar = jqTmp.find('.bar');
                jqProgresses.append(tmpDiv);

                var xhr = new XMLHttpRequest();
                xhr.upload.addEventListener("progress", function(ev) {
                    if (ev.lengthComputable) {
                        var percentage = Math.round(ev.loaded * 100 / ev.total);
                        jqProgressBar.width(percentage + "%");
                        jqProgressBar.html(percentage+"%");
                    }

                }, false);

                xhr.open("POST", "{{ url_for('upload_file') }}");
                xhr.onload = function() {
                    console.log(xhr.responseText);
                    var resp = JSON.parse(xhr.responseText);
                    if (resp.status === 'ok') {
                        var html = '<p><a class="uploadUrl" target="_blank" href="%s" data-mimetype="%s">%s</a></p>'.f(resp.url, file.type, resp.name);
                        jqUploadList.append(html);
                    } else {
                        jqUploadList.append('<p>%s : %s</p>'.f(file.name, resp.message));
                    }
                    jqTmp.remove();
                };
                xhr.send(fd);
            })
        }

        $(document).ready(function(){
            $("#upload_list").on('click', '.uploadUrl', function(ev){
                var jq = $(this);
                var href = jq.attr('href');
                var mimetype = jq.attr('data-mimetype');
                var markdown_blurb = '[ ](' + href + ')';
                if (mimetype.match(/image\/.*/)) {
                    markdown_blurb = '!' + markdown_blurb;
                }
                $('#post_content').insertAtCaret(markdown_blurb);
                ev.preventDefault();
            });
            $('input.confirm').on('click', function() {
                return window.confirm('Really delete?');
            }).css('min-width', null);
        });

         $.fn.extend({
            insertAtCaret: function(myValue){
                var obj;
                if( typeof this[0].name !='undefined' ) obj = this[0];
                else obj = this;

                if ($.browser.msie) {
                    obj.focus();
                    sel = document.selection.createRange();
                    sel.text = myValue;
                    obj.focus();
                }else if ($.browser.mozilla || $.browser.webkit) {
                    var startPos = obj.selectionStart;
                    var endPos = obj.selectionEnd;
                    var scrollTop = obj.scrollTop;
                    obj.value = obj.value.substring(0, startPos)+myValue+obj.value.substring(endPos,obj.value.length);
                    obj.focus();
                    obj.selectionStart = startPos + myValue.length;
                    obj.selectionEnd = startPos + myValue.length;
                    obj.scrollTop = scrollTop;
                } else {
                    obj.value += myValue;
                    obj.focus();
                }
            }
        })




    </script>


    {% if post.draft %}
        <script>
            (function() {
                function issueSaveAjax(){
                    if (!isActive){
                        return;
                    }

                    $.ajax({
                        type: "POST",
                        url:"{{ url_for('save_post', post_id=post.id) }}",
                        data: $('#edit_post').serialize()
                    });
                }

                var isActive = true;

                $(window).focus(function(){
                    isActive = true;
                    $("#auto-save").css('color','').text('Draft');
                }).blur(function(){
                    isActive = false;
                    $("#auto-save").css('color','red').text('Draft *');
                });

                $(document).ready(function(){
                    window.setTimeout(function() {
                        window.setInterval(issueSaveAjax, 4000);
                    }, 10000);
                });
            }());
        </script>
    {% endif %}

<script src="{{ url_for('static', filename='js/tabIndent.js') }}"></script>
<script>
    tabIndent.config.tab = '    ';
    tabIndent.render(document.getElementById("post_content"));
</script>
{% endblock %}
