<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='css/a.css') }}" rel="stylesheet" media="all">
        {% block title %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}

            <footer class="nav">
                <ul>
                    <li>
                        <a class="brand" href="{{ url_for('index') }}">{{ config.BLOG_TITLE or "Home" }}
                            {% if config.BLOG_TAGLINE %}
                                <br />
                                <small><em>{{ config.BLOG_TAGLINE }}</em></small>
                            {% endif %}
                        </a>
                    </li>
                    {% include "custom-navlist.html" ignore missing %}
                    {% if is_admin %}
                        <li><a href="{{ url_for('new_post') }}">Admin</a></li>
                    {% endif %}
                    {% block sidebar %}{% endblock %}
                </ul>
            </footer>
        </div>
<img src="http://c.statcounter.com/9162141/0/0397ea67/1/" alt="free web stats" style="border:none;" />
        {% block body_end %}{% endblock %}
    </body>
</html>
