<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='css/melody.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/code_styles.min.css') }}" rel="stylesheet" media="screen">
        {% block title %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <article class="grid 1of1 content">
                {% block content %}{% endblock %}
            </article>

            <footer class="nav">
                <ul>
                    <li>
                        <a class="brand" href="{{ url_for('index') }}">{{ config.BLOG_TITLE or "Home" }}
                            {% if config.BLOG_TAGLINE %}
                                <br />
                                <small><em>{{ config.BLOG_TAGLINE }}</em></small>
                            {% endif %}
                        </a>
                    </li>
                    {% include "custom-navlist.html" ignore missing %}
                    {% if is_admin %}
                        <li><a href="{{ url_for('new_post') }}">Admin</a></li>
                    {% endif %}
                    {% block sidebar %}{% endblock %}
                </ul>
            </footer>
        </div>

        {% if config["ANALYTICS_ID"]  %}
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', '{{ config["ANALYTICS_ID"] }}']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
        {% endif %}

        {% block body_end %}{% endblock %}
    </body>
</html>
