<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='css/melody.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/code_styles.min.css') }}" rel="stylesheet" media="screen">
        {% block title %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="grid 1of1 content">
                {% block content %}{% endblock %}
            </div>

            <footer class="nav">
                <ul>
                    <li>
                        <a class="brand" href="{{ url_for('index') }}">{{ config.BLOG_TITLE or "Home" }}
                            {% if config.BLOG_TAGLINE %}
                                <br />
                                <small><em>{{ config.BLOG_TAGLINE }}</em></small>
                            {% endif %}
                        </a>
                    </li>
                    {% include "custom-navlist.html" ignore missing %}
                    {% if is_admin %}
                        <li><a href="{{ url_for('new_post') }}">Admin</a></li>
                    {% endif %}
                    {% block sidebar %}{% endblock %}
                </ul>
            </footer>
        </div>
        {% block body_end %}{% endblock %}
<script type="text/javascript">
var sc_project=9162141; 
var sc_invisible=0; 
var sc_security="0397ea67"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9162141/0/0397ea67/0/"
alt="web analytics"></a></div></noscript>
    </body>
</html>
