{% extends "layout.html" %}

{% block title %}<title>{{ post.title }} - {{ config.BLOG_TITLE }}</title>{% endblock %}

{% block head %}
    {% if has_audio %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sm2.css')}}" />
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if is_admin %}
        <li><a  href="{{ url_for('edit', post_id=post.id) }}">Edit post</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="article content">
    <section id="post-{{ post.id }}">
        <article>
            <div class="post_header">
                <h1>{{ post.title }}</h1>
                Created: <time datetime="{{ post.created_at|iso8601 }}">{{ post.created_at|datetimeformat }}</time><br />
                Updated: <time datetime="{{ post.updated_at|iso8601 }}">{{ post.updated_at|datetimeformat }}</time><br />
            </div>
            <br/>
            {{ post|render_post|safe }}
        </article>
    </section>
</div>
{% endblock %}

{% block body_end %}
<script>
    (function() {
        var times = document.getElementsByTagName('time');
        var n = times.length;
        for (var i = 0; i < n; i++) {
            var x = times[i];
            var utcStr = x.getAttribute('datetime');
            if (utcStr) {
                var datetime = new Date(utcStr);
                if (datetime.getDate() && typeof datetime.toLocaleString === 'function') {
                    x.innerHTML = datetime.toLocaleString();
                }
            }
        }
    }());
</script>
    {% if has_audio %}
        <script src="{{ url_for('static', filename='js/berniecode-animator.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sm2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sm2-player.js') }}"></script>
        <script>
            soundManager.setup({
                url: "{{ url_for('static', filename='swf') }}"
            });
        </script>
    {% endif %}
{% endblock %}
