<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        
        {#
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ url_for('feed') }}">
        
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        #}

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        {#
        <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" media="screen">
        #}
        
        {#
        <link href='//fonts.googleapis.com/css?family={{ config.FONT_NAME|replace(' ','+') }}:400,900' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-modal.js') }}"></script>
        <link href="/style.css" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/code_styles.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/prettify.css') }}" rel="stylesheet" type="text/css">
        <script src="{{ url_for('static', filename='js/prettify.js') }}" type="text/javascript"></script>
        #}

        {% block title %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="{{ url_for('index') }}">{{ config.BLOG_TITLE }}<br />
                        <small><em>{{ config.BLOG_TAGLINE }} heheh</em></small>
                    </a>
          
                    <ul class="nav">
                        {% if config.GITHUB_USERNAME %}
                            <li><a href="https://github.com/{{ config.GITHUB_USERNAME }}/">Github</a></li>
                        {% endif %}
                        {% if config.CONTACT_EMAIL %}
                            <li><a href="mailto:{{ config.CONTACT_EMAIL }}?subject:Howdy">Email me</a></li>
                        {% endif %}
                        {% if config.TWITTER_HANDLE %}
                            <li><a href="https://twitter.com/{{ config.TWITTER_HANDLE }}/">Twitter</a></li>
                        {% endif %}
                        {% if config.GOOGLE_PLUS_PROFILE %}
                            <li><a href="https://plus.google.com/{{ config.GOOGLE_PLUS_PROFILE }}/posts">Google+</a></li>
                        {% endif %}

                        {% if config.USE_SUBTOME %}
                        <li><a onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()"
                                href="#">Subscribe</a></li>
                        {% endif %}

                        {% if is_admin %}
                            <li><a href="{{ url_for('admin') }}">Admin</a></li>
                        {% endif %}

                        {% block sidebar %}{% endblock %}
                    </ul>
                </div>
            </div>
            <div class="span10 content">
                <div class="row-fluid">
                    <div class="span12 time">
                        {% if post %}
                            Posted {{ post.created_at.strftime('%B %d, %Y') }}
                            {% if post.created_at.strftime('%B %d, %Y') != post.updated_at.strftime('%B %d, %Y') %}
                                , Updated {{ post.updated_at.strftime('%B %d, %Y') }}
                            {% endif %}
                        {% else %}
                            <div class="visible-phone">
                                <h3><a href="{{ url_for('index') }}">{{ config.BLOG_TITLE }}</a></h3>
                                <span>{{ config.BLOG_TAGLINE }}</span>
                            </div>
                            <div class="hidden-phone">
                               {{ now.strftime('%B %d, %Y') }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>


        </div>




        {% if config["ANALYTICS_ID"]  %}
            <script>
                var _gaq=[['_setAccount','{{ config["ANALYTICS_ID"] }}'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                    s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        {% endif %}

        {% block body_end %}{% endblock %}
    </body>
</html>